.rdp_ppe_add_to_cart {
  background: #fe1a00;
  background-image: -webkit-linear-gradient(top, #fe1a00, #ce0100);
  background-image: -moz-linear-gradient(top, #fe1a00, #ce0100);
  background-image: -ms-linear-gradient(top, #fe1a00, #ce0100);
  background-image: -o-linear-gradient(top, #fe1a00, #ce0100);
  background-image: linear-gradient(to bottom, #fe1a00, #ce0100);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-decoration: none;
}

.rdp_ppe_add_to_cart.small {
  font-size: 12px;
  padding: 4px 20px 4px 20px;
}

.rdp_ppe_add_to_cart.medium {
  font-size: 16px;
  padding: 10px 20px 10px 20px;
}

.rdp_ppe_add_to_cart.large {
  font-size: 20px;
  padding: 14px 26px 14px 26px;
}

.rdp_ppe_add_to_cart:hover {
  background: #ce0100;
  background-image: -webkit-linear-gradient(top, #ce0100, #fe1a00);
  background-image: -moz-linear-gradient(top, #ce0100, #fe1a00);
  background-image: -ms-linear-gradient(top, #ce0100, #fe1a00);
  background-image: -o-linear-gradient(top, #ce0100, #fe1a00);
  background-image: linear-gradient(to bottom, #ce0100, #fe1a00);
  text-decoration: none;
}
