.rdp_ppe_add_to_cart {
  background: #eae0c2;
  background-image: -webkit-linear-gradient(top, #eae0c2, #ccc2a6);
  background-image: -moz-linear-gradient(top, #eae0c2, #ccc2a6);
  background-image: -ms-linear-gradient(top, #eae0c2, #ccc2a6);
  background-image: -o-linear-gradient(top, #eae0c2, #ccc2a6);
  background-image: linear-gradient(to bottom, #eae0c2, #ccc2a6);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-decoration: none;
}

.rdp_ppe_add_to_cart.small {
  font-size: 12px;
  padding: 4px 20px 4px 20px;
}


.rdp_ppe_add_to_cart.medium {
  font-size: 16px;
  padding: 10px 20px 10px 20px;
}

.rdp_ppe_add_to_cart.large {
  font-size: 20px;
  padding: 14px 26px 14px 26px;
}

.rdp_ppe_add_to_cart:hover {
  background: #ccc2a6;
  background-image: -webkit-linear-gradient(top, #ccc2a6, #eae0c2);
  background-image: -moz-linear-gradient(top, #ccc2a6, #eae0c2);
  background-image: -ms-linear-gradient(top, #ccc2a6, #eae0c2);
  background-image: -o-linear-gradient(top, #ccc2a6, #eae0c2);
  background-image: linear-gradient(to bottom, #ccc2a6, #eae0c2);
  text-decoration: none;
}
